<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pdf-functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3b57c15-eb47-46d2-808f-2dc2bb1e9d8a/resourcegroups/RG-AF-PdfExcel/providers/Microsoft.Web/sites/PDF-FunctionApp</ResourceId>
    <UserName>$PDF-FunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pdf-functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>